<!-- Modal -->
<form asp-area="Admin" asp-controller="Shop" asp-action="CreateCustomer" method="Post">
    <div class="modal fade" id="CustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">افزودن کاربر جدید</h1>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("_CreateCustomer",new CustomerModel())

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                    <button type="submit" class="btn btn-primary">افزودن</button>
                </div>
            </div>
        </div>
    </div>
</form>