@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/all.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-light" style="background-color:#6388b3a1">
            <div class="container-fluid" style="background-color:#e7f1ff">
                <a class="navbar-brand" href="#">TestRaja</a>
            </div>
        </nav>
        <div class="container">
                <div class="row p-0">
                    <div class="mt-5"></div>
                </div>
            <div class="row p-0">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

</body>
</html>
