
@font-face {
    font-family: 'iransans';
    src: url('../font/iransans.ttf') format('truetype');
}

@font-face {
    font-family: 'iransans_medium';
    src: url('../font/iransans_medium.ttf') format('truetype');
}

* {
    direction: rtl;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    font-family: iransans
}